<%- include("partials/header")%>
<link rel="stylesheet" href="/stylesheets/expenses.css">

<div class="logo">
    <img src="https://cdn-icons-png.flaticon.com/128/8196/8196973.png" alt="">
    <h4>PennyWise</h4>
</div>

<div class="container">
    <h3>Add New Transition</h3>

    <form action="/addExpenses" method="post">
        <div class="form-control">
            <label for="Tags">Tags</label>
            <input type="text"  id="tags" name="tags" placeholder="Enter Tags......" required>
        </div>
        <div class="form-control">
            <label for="amount">Amount</label>
            <p>Add amount with + it goes to income</p>
            <p>Add amount with - it goes to expense</p>
            <br>
            <input type="number" id="amount" name="amount" placeholder="Enter Amount..." required>
        </div>

        <div class="form-control">
            <label for="categories">Categories</label>
            <input type="text" id="category" name="category" placeholder="Enter Categories.." required >
        </div>

        <div class="form-control">
            <label for="Text">Text</label>
            <input type="text" id="text" name="text" placeholder="Enter Text.." required>
        </div>
        <div class="form-control">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" placeholder="Enter Date" required>
        </div>
         <button class="btn">All Transaction</button>
    </form>

</div>
<!-- <script src="/javascripts/expense.js"></script> -->
<%- include("partials/footer")%>
