<link rel="stylesheet" href="/stylesheets/home.css">
<%- include("partials/header")%>
<%- include("partials/nav")%>
    
   <div class="main">
      <div class="left">
         <img src="https://imgs.search.brave.com/AGbi-j3xuMdGoMgJJ7doSQ8vACwHfwjOzWgKc5_apJs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9lMC5w/eGZ1ZWwuY29tL3dh/bGxwYXBlcnMvOTY1/LzIxMi9kZXNrdG9w/LXdhbGxwYXBlci1n/ZXQtaW5jb21lLWV4/cGVuc2UtdHJhY2tl/ci5qcGc" alt="">
      </div>
      <div class="right">
         <h1>PennyWise: Smarter Spending,<br> Better Living</h1>
         <p>PennyWise empowers you to make smarter financial decisions, effortlessly tracking your expenses for a clearer financial picture. With PennyWise, experience better living through mindful spending and informed financial choices</p>
         <button><a href="/signup">Create Account</a></button>
      </div>
   </div>
   
<%- include("partials/footer")%>

<style>
   @media (max-width:991px){
   .main{
      display: block;
   }
   .left img{
      width: 100%;
   } 
   }
   @media (max-width:768px){
   .left img{
      width: 100%;
   } 
   }
</style>