@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  font-size: 1.3rem;
  line-height: 1.2;
  background-color: #524f4f;
  color: #ddd;
  padding-top: 12vh;
}

.main {
  max-width: 100vw;
  padding: 3em 1.5em;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}
.plus{
  color: #2ecc71;
}
.minus{
  color: #c0392b;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
}

:not(.overlay) > .card {
  transition: background ease 400ms;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
}


/* profile  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

@keyframes show {
  from {opacity: 0;} to {opacity: 1;}
}
html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  color: white;
  height: 35px;
  width: 200px;
  margin: 0;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #17807D;
}

.btn:hover {
  background: #378E5A;
}

.pointer {
  cursor: pointer;
}

#phone {
  width: 80%;
  /* height: ; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #404040;
  border-radius: 25px;
}


#phone-screen {
  width: 90%;
  height: 85%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #303030;
  border-radius: 10px;
  animation: show 1s;
}

header {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-name {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 30px 0 0 0;
}

#user-profession {
  font-size: 25px;
  font-weight: lighter;
  font-family: cursive;
  margin: 3px 0 0 0;
}

#user-general-values {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#user-general-values p {
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 65, 66);
  padding: 10px;
  border-radius: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#user-general-values p span:nth-child(1) {
  font-size: 2vmax;
  font-weight: bold;
  color:rgb(30, 29, 29)
}

#user-general-values p .show{
  color: rgb(239, 239, 243);
  font-size:2vmax;
}
.line {
  width: 1px;
  height: 60%;
  margin: 0 20px;
  background-color: #BCBCBC;
}
.money-minus{
  font-size: 2vmax;
  color: #c0392b;
}
.money-plus{
  font-size: 2vmax;
  color: #2ecc71;
}

#group-btn {
  width: 100%;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#group-btn button a{
  text-decoration: none;
  color: #fff;
  font-size:1.1vmax ;
}
#follow-btn {
  margin-right: 8px;
}

#message-btn {
  margin-left: 8px;
}
 .searchForm {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: flex;
	font-size: 0px;
	margin: 150px auto 0;
	padding: 10px;
	position: fixed;
  top: -8%;
  left: 50%;
  transform: translate(-50%, 0);
	z-index: 1;
}

.searchForm input  , .searchForm #key{
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}
.searchForm #key{
  width: 80px;
}

.ie .searchForm input , .searchForm #key{
	line-height: 40px;
}

.searchForm input::-webkit-input-placeholder {
   color: #888;
}
/* .searchForm */

.searchForm input:-moz-placeholder {
   color: #888;
}

.searchForm input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.searchForm input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.searchForm input:focus:-moz-placeholder {
	color: #efe;
}

.searchForm button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.searchForm button:hover,
.searchForm button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.searchForm button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}
