.box {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 450px;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background: #ededed;
    margin-top: 10px;
}
.name {
font-size:1vmax;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
}

button {
width: 130px;
height: 40px;
border-radius: 10px;
font-weight: 600;
}

.button {
display: flex;
justify-content: space-around;
flex-direction: row;
padding-top: 10%;
}

.button .message {
cursor: pointer;
}
button.message:hover {
  background: #17807D;
  color: white;
}